#rectangle{width: 2000px; height: 120px; background: rgb(245,245,245); position: fixed; top: 0; left: 0; z-index: -1;}
body {font-family: helvetica;}
body {margin: 3% 10%;}
a {text-decoration: none;}
a:link {color: rgb(64,64,64);}
a:visited {color: rgb(64,64,64);}
a:hover {color: rgb(144,144,144);}
a:active {color: rgb(220,220,220);}
h1 {color: hsl(180,80%,30%); z-index: 1;}
h2 {color: hsl(0,90%,85%);}
ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
