body {font-family: helvetica;}
body {margin: 3% 10%;}
h1 {color: hsl(180,80%,30%);}
h2 {color: hsl(0,90%,85%);}
ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
